/* Reseting */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* wrapper */

.wrapper {

    position: relative;

    height: 143vw;
    background-image: url("/img/bg_pc.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}


.video {}


/* video header */


.video-header {
    width: 100%;
}


#myVideo {
    max-width: 100%; 
    /* min-height: 100v; */
}

#video2 {
    display: none;
}

/* nav */
.nav {
    line-height: 3vw;
    z-index: 1;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5c3e2472;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: center;
    margin: 0;

}

.nav-list {
    display: flex;
    justify-content: center;
    color: #fefcd5;

}


.nav-list img {
    width: 6vw;
}

img.img_fanPage {
    width: 4.5vw;
}

img.img_fanHD {
    margin-bottom: 3px;
    width: 6.5vw;

}




.nav-list a {
    color: #fefcd5;
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px;
}

.nav-list li:hover {
    filter: brightness(98%);
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;

}

/* end nav */



/* play */
.play {
    position: absolute;
    top: 33vw;
    left: 39%;
    transform: translate(-50%);
    animation: animate alternate .8s linear infinite;

}

.play:hover {
    cursor: pointer;
}

.play img {
    width: 7vw;
    height: 6vw;
}

/* end play */

/* bg download */

.bg_download {
    position: absolute;
    top: 40vw;
}

.bg_download img {
    width: 100%;
}

/* end bg download */






/* downlaod */
.download_nt {
    position: absolute;
    top: 41.6vw;
    left: 54%;
    transform: translate(-50%);
    display: flex;
}


.download {
    width: 22vw;
}

.download img {
    width: 10vw;
    margin: 0.2vw;
}

.nap_the {
    animation: animate1 alternate .8s linear infinite;

}


.nap_the img {
    width: 8vw;
}


.download_img:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
    filter: brightness(125%);
}

/* end downlaod */



/* char */
.char {
    position: absolute;
    top: 59vw;
    left: 48%;
    transform: translate(-50%);

}

.char img {
    width: 90vw;
}



.img_char img {
    filter: grayscale(100%);
    cursor: pointer;
}


.img_char img:hover {
    filter: grayscale(0);
    scale: 1.1;
    transition: all 0.3s linear;
    z-index: 1;

}

/* .active img{
    filter: grayscale(0%);
    scale: 1.1;
    transition: all 0.3s linear;
} */

.set {
    position: absolute;
    top: 1.5vw;
    left: 9vw;
    display: flex;
}

.set img {
    width: 19vw;
}

.bang {
    position: absolute;
    top: 2.9vw;
    left: 72vw;
    display: flex;
}

.bang img {
    width: 21vw;
}

.gio {
    position: absolute;
    top: 0.8vw;
    left: 41.2vw;
    display: flex;
}

.gio img {
    width: 19vw;
}

.doc {
    position: absolute;
    top: 3.5vw;
    left: 25vw;
    display: flex;
}

.doc img {
    width: 16vw;
}

.lua {
    position: absolute;
    top: -4.8vw;
    left: 56vw;
    display: flex;
}

.lua img {
    width: 20vw;
}

/* end char */





/* slider */
.slider {
    position: absolute;
    top: 55vw;
    width: 70vw;
    margin: 0 auto;
    cursor: pointer;
}


.slick-track {
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.slick-slide {
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.slick-slide:not(.slick-current) {
    filter: brightness(0.5);
}

.slick-slide.slick-current {
    transform:scale(1.45);
    position: relative;
    z-index: 1;
}



.slick-slide img {
    width: 100%;
    /* transform: translate(-15%); */
}

img.a-left.control-c.prev.slick-prev.slick-arrow {
    left: -73px;
    width: 4vw;
    height: 3vw;
}

img.a-right.control-c.next.slick-next.slick-arrow {
    right: -73px;
    width: 4vw;
    height: 3vw;
}



.slick-dots li {
    display: inline-block;
    padding: 1px;
    background-image: url(/img/pagenav.png);
    background-size: 100%;
    margin: 10px 5px;
    width: 40px;
    height: 5px;
}

.slick-dots li.slick-active {
    background-image: url(/img/pagenav-on.png);
}



/* end slider */




/* popup  */

.modal-content {
    width: 70vw;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%);
    margin-top: 7vw;
}

/* end popup  */






/* go to top */
.topTop {
    position: fixed;
    bottom: 5%;
    right: 0;
    display: none;
}

.topTop img {
    width: 80%;
}



.ninja {
    position: fixed;
    bottom: 20.8%;
    right: 2%;
}




.ninja_move {
    display: none;
    position: fixed;
    bottom: 18%;
    right: 0%;
    animation: mymove 1.5s normal ease-in-out;
    transition: all 1s linear;

}


@keyframes mymove {

    0% {
        opacity: 0;
        transform: translatex(0) translatey(0)
    }

    50% {
        opacity: 1;
        transform: translatex(-89vw) translatey(-20vh);
    }

    51% {
        opacity: 1;
        transform: translatex(-89vw) translatey(-20vh) scaleX(-1);
    }

    100% {
        transform: translatex(40vw) translatey(-90vh) scaleX(-1);

    }

    /* 100% {
        transform: translatex(-89vw) translatey(-80vh);
        opacity: 0;
    } */


}

/* end go to top */








/* @-o-keyframes */


@keyframes animate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.2);
    }
}


@keyframes animate1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.1);
    }
}