/* Reseting */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* wrapper */

.wrapper {
    position: relative;
    height: 143vw;
    background-image: url("/img/bg_pc.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    /* display: none; */
}


.video {
    position: relative;
    height: 100vh;
}
.inner_video1 {
    z-index: 1;
}
/* 
.inner_video {
    z-index: -2;
} */

.inner_video1, .inner_video {
    position: absolute;
    top: 0;
    left: 0;
}


/* video header */


.video-header {
    width: 100%;
}


#myVideo {
    max-width: 100%;
    /* min-height: 100v; */
}

#video2 {
    display: none;
}

/* nav */
.nav {
    line-height: 3vw;
    z-index: 1;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5c3e24de;
    width: 100%;
    display: none;
}

.nav-list {
    display: flex;
    justify-content: center;
    margin: 0;

}

.nav-list {
    display: flex;
    justify-content: center;
    color: #fefcd5;

}


.nav-list img {
    width: 6vw;
}

img.img_fanPage {
    width: 4.5vw;
}

img.img_fanHD {
    margin-bottom: 3px;
    width: 6.5vw;

}




.nav-list a {
    color: #fefcd5;
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px;
}

.nav-list li:hover {
    filter: brightness(98%);
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;

}

/* end nav */



/* play */
.play {
    position: absolute;
    top: 33vw;
    left: 39%;
    transform: translate(-50%);
    animation: animate alternate .8s linear infinite;
    z-index: 3;
    display: none;
}

.play:hover {
    cursor: pointer;
}

.play img {
    width: 7vw;
    height: 6vw;
}



/* end play */

/* bg download */

.bg_download {
    position: absolute;
    top: 40vw;
    z-index: 2;
    width: 100%;
}

.bg_download img {
    width: 100%;
}


.bg_download_inner {
    position: absolute;
    top: 40vw;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    display: none;
}


.bg_download_inner img {
    width: 45vw;
}

/* end bg download */





/* downlaod */
.download_nt {
    position: absolute;
    top: 1vw;
    left: 58.5%;
    transform: translate(-50%);
    display: flex;
}


.download {
    width: 23vw;
    margin-left: 1vw;
}

.download img {
    width: 10vw;
    margin: 0.4vw;
}

.nap_the {
    animation: animate1 alternate .8s linear infinite;

}


.nap_the img {
    width: 8.2vw;
}


.download_img:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
    filter: brightness(125%);
}

/* end downlaod */



/* char */
.char {
    position: absolute;
    top: 59vw;
    left: 48%;
    transform: translate(-50%);

}

.char img {
    width: 90vw;
}



.img_char img {
    filter: grayscale(100%);
    cursor: pointer;
}


.img_char img:hover {
    filter: grayscale(0);
    scale: 1.1;
    transition: all 0.3s linear;
    z-index: 1;

}

/* .active img{
    filter: grayscale(0%);
    scale: 1.1;
    transition: all 0.3s linear;
} */

.set {
    position: absolute;
    top: 1.5vw;
    left: 9vw;
    display: flex;
    /* pointer-events: none; */
}

.set img {
    width: 19vw;
}



.set:hover::before {
    /* pointer-events: all; */
    content: 'i';
    font-size: 2rem;
    border: 1 px solid;
    color: rgb(248, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 1.1;
}

.bang {
    position: absolute;
    top: 2.9vw;
    left: 72vw;
    display: flex;
}

.bang:hover::before {
    content: 'i';
    font-size: 2rem;
    border: 1 px solid;
    color: rgb(248, 0, 0);
    position: absolute;
    top: -2vw;
    right: 3vw;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 1.1;
}

.bang img {
    width: 21vw;
}

.gio {
    position: absolute;
    top: 0.8vw;
    left: 41.2vw;
    display: flex;
}


.gio:hover::before {
    /* pointer-events: all; */
    content: 'i';
    font-size: 2rem;
    border: 1 px solid;
    color: rgb(248, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 1.1;
}

.gio img {
    width: 19vw;
}

.doc {
    position: absolute;
    top: 3.5vw;
    left: 25vw;
    display: flex;
}

.doc:hover::before {
    /* pointer-events: all; */
    content: 'i';
    font-size: 2rem;
    border: 1 px solid;
    color: rgb(248, 0, 0);
    position: absolute;
    top: -2vw;
    right: 0;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 1.1;
}

.doc img {
    width: 16vw;
}

.lua {
    position: absolute;
    top: -4.8vw;
    left: 56vw;
    display: flex;
}

.lua:hover::before {
    /* pointer-events: all; */
    content: 'i';
    font-size: 2rem;
    border: 1 px solid;
    color: rgb(248, 0, 0);
    position: absolute;
    top: 5vw;
    right: 2vw;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 1.1;
}

.lua img {
    width: 20vw;
}

/* end char */





/* slider */
.slider {
    position: absolute;
    top: 55vw;
    width: 70vw;
    margin: 0 auto;
    cursor: pointer;
    margin-top: -5vw;
}


.slick-track {
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.slick-slide {
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.slick-slide:not(.slick-current) {
    filter: brightness(0.5);
}

.slick-slide.slick-current {
    transform: scale(1.45);
    position: relative;
    z-index: 1;
}



.slick-slide img {
    width: 100%;
    /* transform: translate(-15%); */
}

img.a-left.control-c.prev.slick-prev.slick-arrow {
    left: -7vw;
    width: 4vw;
    height: 3vw;
}

img.a-right.control-c.next.slick-next.slick-arrow {
    right: -7vw;
    width: 4vw;
    height: 3vw;
}



.slick-dots li {
    display: inline-block;
    padding: 1px;
    background-image: url(/img/pagenav.png);
    background-size: 100%;
    margin: 10px 5px;
    width: 40px;
    height: 5px;
}

.slick-dots li.slick-active {
    background-image: url(/img/pagenav-on.png);
}



/* end slider */




/* popup  */

.modal-content {}

.modal-char {
    margin-top: 5vw;
}



iframe {
    height: 40vw;
}

.modal-content {
    width: 71vw;
    left: 50%;
    transform: translate(-50%);
    background-color: black!important;
}


img.modal-content_pc {

    width: 100%;
}




.close_tt {
    position: absolute;
    top: 1.5vw;
    right: 1.5vw;
    z-index: 1;
    cursor: pointer;
}

.close_tt:hover {
    filter: brightness(70%);
}





/* end popup  */






/* go to top */


.scroll-to-top {
    display: block;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 4;
   }

   .charTop {
    transform: translate(330%, -110%);

   }
   .charMoveTop {
    transform: translate(6vw, -10vw);
    opacity: 0;
    }


    @keyframes scrollToTop {
      0% {
        transform: translate(6vw, -10vw);

      }
   
      50% {
          transform: translate(-77vw, -15vw);
      }
   
      51% {
        transform: translate(-77vw, -15vw) scaleX(-1);
      }

      100% {
        transform: translate(6vw, -36vw) scaleX(-1);

      }
   }








/* close */
.nav_mb {
    width: 110px;
    height: 100px;
    float: right;
}

/* end close */



/* .play-mb */
.play-mb {}

.play-mb:hover {
    cursor: pointer;
}

.play-mb img {
    width: 20vw;
    height: 15vw;
    margin-top: 418px;
    margin-left: 222px;
    animation: animate alternate .8s linear infinite;


}

/* end play-mb */


/* download mb */
.download_mb img {
    margin-left: 318px;
    margin-top: 165px;
    width: 281px;

}

.download_mb img:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
    filter: brightness(125%);
}

/* end download mb */




/* char_mb */
.char_mb {
    position: relative;
    margin-top: 210px;
    margin-left: -16px;
}

.char_mb img {
    width: 100vw;
    height: 285px;
}



.img_char_mb img {
    filter: grayscale(100%);
    cursor: pointer;
}


.img_char_mb img:hover {
    filter: grayscale(0);
    scale: 1.1;
    transition: all 0.3s linear;
    z-index: 1;

}

/* .active img{
    filter: grayscale(0%);
    scale: 1.1;
    transition: all 0.3s linear;
} */

.set_mb {
    position: absolute;
    top: 2.9vw;
    left: 9vw;
    display: flex;
}


.set_mb:hover::before {
    content: 'i';
    font-size: 2rem;
    border: 1 px solid;
    color: rgb(248, 0, 0);
    position: absolute;
    top: -2vw;
    right: 3vw;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 1.1;
}

.set_mb img {
    width: 24vw;
    height: 36vw;
}

.bang_mb {
    position: absolute;
    top: 6.9vw;
    left: 79vw;
    display: flex;
}


.bang_mb:hover::before {
    content: 'i';
    font-size: 2rem;
    border: 1 px solid;
    color: rgb(248, 0, 0);
    position: absolute;
    top: -5vw;
    right: 3vw;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 1.1;
}

.bang_mb img {
    width: 22vw;
    height: 32vw;
}




.set_mb:hover::before {
    content: 'i';
    font-size: 2rem;
    border: 1 px solid;
    color: rgb(248, 0, 0);
    position: absolute;
    top: -2vw;
    right: 3vw;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 1.1;
}



.gio_mb {
    position: absolute;
    top: 4.8vw;
    left: 46.2vw;
    display: flex;
}


.gio_mb:hover::before {
    content: 'i';
    font-size: 2rem;
    border: 1 px solid;
    color: rgb(248, 0, 0);
    position: absolute;
    top: -2vw;
    right: 3vw;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 1.1;
}

.gio_mb img {
    width: 22vw;
    height: 35vw;
}

.doc_mb {
    position: absolute;
    top: 7.5vw;
    left: 28vw;
    display: flex;
}



.doc_mb:hover::before {
    content: 'i';
    font-size: 2rem;
    border: 1 px solid;
    color: rgb(248, 0, 0);
    position: absolute;
    top: -6vw;
    right: -1vw;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 1.1;
}

.doc_mb img {
    width: 18vw;
    height: 32vw;
}

.lua_mb {
    position: absolute;
    top: -3.8vw;
    left: 60vw;
    display: flex;
}


.lua_mb:hover::before {
    content: 'i';
    font-size: 2rem;
    border: 1 px solid;
    color: rgb(248, 0, 0);
    position: absolute;
    top: 6.5vw;
    right: 3vw;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 1.1;
}

.lua_mb img {
    width: 24vw;
    height: 47vw;
}

/* end char_mb */




/* slider */


.slider_mb {
    margin-top: -160px;
    height: 200px;
}


.slick-track {
    padding-top: 10vw;
    padding-bottom: 10vw;
}

.slick-slide {
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.slick-slide:not(.slick-current) {
    filter: brightness(0.5);
}

.slick-slide.slick-current {
    transform: scale(2.3);
    position: relative;
    z-index: 1;
}



.slick-slide img {
    width: 100%;
    /* transform: translate(); */
}

img.a-left.control-c.prev.slick-prev.slick-arrow {
    left: -7vw;
    width: 4vw;
    height: 3vw;
}

img.a-right.control-c.next.slick-next.slick-arrow {
    right: -7vw;
    width: 4vw;
    height: 3vw;
}



.slick-dots li {
    display: inline-block;
    padding: 1px;
    background-image: url(/img/pagenav.png);
    background-size: 100%;
    margin: 10px 5px;
    width: 40px;
    height: 5px;
}

.slick-dots li.slick-active {
    background-image: url(/img/pagenav-on.png);
}

/* end slider */

/* .wrapper_mb */

.wrapper_mb {
    display: none;
}














@keyframes mymove {

    0% {
        opacity: 0;
        transform: translatex(0) translatey(0)
    }

    50% {
        opacity: 1;
        transform: translatex(-89vw) translatey(-20vh);
    }

    51% {
        opacity: 1;
        transform: translatex(-89vw) translatey(-20vh) scaleX(-1);
    }

    100% {
        transform: translatex(40vw) translatey(-90vh) scaleX(-1);

    }

    /* 100% {
        transform: translatex(-89vw) translatey(-80vh);
        opacity: 0;
    } */


}

/* end go to top */








/* @-o-keyframes */


@keyframes animate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.2);
    }
}


@keyframes animate1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.1);
    }
}


/* responsive mobile */
@media only screen and (max-width: 670px) {

    /* --------------------MOBILE------------------- */


    .wrapper_mb {
        background-image: url(/img/mob/bg-mob.jpg);
        width: 100%;
        height: 1836px;
        background-repeat: no-repeat;
        background-size: 100%;
        display: block;

    }

    /* NAV MOBILE */

    .bg_nav {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        transition: all 0.5s linear;
        transform: translateX(150%);

    }

    .bg_nav img {
        width: 555px;
    }


    #btn-menu:checked~.bg_nav {
        transform: translateX(0%);

    }


    #btn-menu {
        display: none;
    }

    /* close menu*/
    .close {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        left: 0;
    }

    /* nav menu */

    .nav_menu {
        position: absolute;
        top: 105px;
        left: 110px;
        color: rgb(189, 0, 0);
        width: 100%;
    }

    .nav_menu li {
        margin: 80px 0;
    }

    img.nav_menu_fanpage {
        width: 35%;
    }

    img.nav_menu_huongdan {
        width: 48%;
    }

    img.nav_menu_congdong {
        width: 48%;

    }



    .slick-slide img {
        width: 100%;
        /* transform: translate(-23%); */
    }


    .modal-content {
        margin: 0;
        margin-top: 60vw;
        height: 302px;
        width: 540px;
    }

    .modal-content img {
        width: 100%;
    }

    iframe {
        height: 300px;
    }

    /* prev slider */
    img.a-right.control-c.next.slick-next.slick-arrow {
        right: -12vw;
        width: 9vw;
        height: 10vw;
    }

    img.a-left.control-c.prev.slick-prev.slick-arrow {
        left: -12vw;
        width: 9vw;
        height: 10vw;
    }

    /*END  NAV MOBILE */

    .wrapper {
        display: none;
    }



    /* chi tiáº¿t char */



    .close_tt {
        top: 15px;
        right: 25px;
        width: 35px;
    }

    .scroll-to-top{
        display: none;
    }

    h2#swal2-title {
        font-size: 33px;
    }

    .swal2-popup.swal2-modal.swal2-show {
        width: 80%;
        height: 200px;
    }

    .btn-copy{
        font-size: 3.2rem;
        margin-left:5px;
    }
    
    .code{
        color:rgb(193, 58, 40);
        font-weight:bold;
        font-size:1.5rem;
    }
}